header{

background-color: #ce9fc5
color white

}

main {
    background-color: #b46aa6 ;
    color: black
    text-align: center;
    max-width: 800px;
    margin: 0 auto;



}



